.settings {
    padding: 60px 40px;
    padding-right: 150px;
    overflow-y: scroll;
    color: #303030;
    width: 100%;
    height: 100vh;
}

.settings h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

.description {
  font-size: 14px;
  line-height: 20px;
  font-weight: lighter !important;
  width: 600px;
}

.switch {
display: flex;
margin-top: 40px;
}

.switch h4 {
  padding: 10px;
  font-weight: lighter;
  border-bottom: 1px solid #DBDBDB;
  cursor: pointer;
}

.info {
  margin: 30px 0px 30px 0px;
}

.info h2 {
font-size: 18px;
line-height: 36px;
}

.info h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: lighter;
}

.input {
  width: 580px;
  border-radius: 4px;
  border: 1px solid #868686;
  height: 32px;
  background-color: white;
  margin-bottom: 20px;
  color: #303030;
  overflow: hidden;
}

.input input {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 20px;
}

.form h3 {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 7px;
  color: #303030;
  text-decoration: none !important;
}

.information {
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  width: 779px;
  padding: 0px 0px 40px 40px;
}

.menu {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 190px;
}

.menuItem {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #DBDBDB;
}

.menuItem div {
  margin-left: 30px;
}

.menuItem h3 {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 5px;
}

.menuItem input {
  border: none;
  outline: none;
}

.item {
  margin-left: 20px;
  border-bottom: 1px solid #DBDBDB;
}

.item h3 {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 5px;
}

.item h4 {
  font-size: 14px;
  font-weight: lighter;
}

.item input {
  border: none;
  outline: none;
}

.pagination {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px; 
  padding-right: 140px;
}

.gauche {
  display: flex;
  align-items: center;
}

.img {
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer
}

.gauche span {
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  text-align: center;
  color: #304FFE;
  font-size: 14px;
  line-height: 32px;
  margin: 0px 10px;
}

.gauche h4 {
  font-size: 14px;
  line-height: 32px;
  margin-right: 10px;
  font-weight: lighter;
}

.droite {
  display: flex;
}

.droite h4 {
  font-size: 14px;
  line-height: 32px;
  margin-right: 10px;
  font-weight: lighter;
}

.droite span {
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 14px;
  line-height: 32px;
  margin: 0px 10px;
}

.price {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  padding-top: 60px;
}

.box {
  background-color: white;
  padding: 60px 10px;
  border-radius: 4px;
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
}

.close {
  position: absolute;
  opacity: 0.6;
  top: 60px;
  right: 30px;
  cursor: pointer;
}

.box h2 {
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.box::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 600px) {
    .settings {
      padding: 50px 10px;
    }

    .description {
      width: 100%;
    }

    .menuItem {
      width: 110px;
          }

    .information {
width: 100%;
padding: 10px;
    }


    .box {
      width: 90vw;
    }

    .input  {
      width: 100%;
        }
  }