.login {
  width: 100%;
  height: 100vh;
  display: flex;
}

.left {
  width: 100%;
  height: 100%;
  padding: 80px 200px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.avatar {
    display: flex;
    padding: 20px;
    align-items: center;
    margin: 20px 0;
}

.avatar h4 {
    font-size: 14px;
    color: #666666;
    padding: 10px 0px;
    margin-top: 10px;
}

.inputImg {
    margin-left: 20px;
}

.inputImg button {
  border: 1px solid #DD2B0E;
  border-radius: 4px;
  width: max-content;
  padding: 8px;
  color: #DD2B0E;
  outline: none;
  background-color: white;
  cursor: pointer;
}



.avatar input {
    display: none;
}

.avatar label {
    border: 1px solid #BFBFBF;
    border-radius: 4px;
    width: max-content;
    padding: 8px;
    color: #1F1F1F;
    outline: none;
    background-color: white;
    cursor: pointer;
}

.img {
  height: 96px;
  width: 96px;
  border-radius: 48px;
  overflow: hidden;
  margin-right: 20px;
  border: 1px solid #BFBFBF;
}

.form {
  margin-top: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
}

.login h1 {
  font-size: 24px;
  margin: 10px 0px;
}

.login h4 {
  color: #303030;
  font-weight: lighter;
  width: 600px;
  line-height: 20px;
}

.inputs {
  display: flex;
  align-items: center;
  width: 580px;
  border-radius: 4px;
  border: 1px solid black;
  height: 32px;
  background-color: white;
  padding: 0px 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

.inputs h4 {
  margin-bottom: 0px;
  color: black;
  font-size: 14px;
  margin-right: 7px;
}

.input {
  width: 580px;
  border-radius: 4px;
  border: 1px solid #868686;
  height: 32px;
  background-color: white;
  margin-bottom: 20px;
  color: #303030;
  overflow: hidden;
}

.input input {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0px 20px;
}

.form h3 {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 7px;
  color: #303030;
  text-decoration: none !important;
}

.form h5 {
  color: #959da5;
  font-size: 12px;
  text-decoration: underline;
  margin-top: 50px;
}

.login h3 {
  color: #666666;
  font-size: 14px;
  cursor: pointer;
}

.login h2 {
  font-size: 18px;
  color: #303030;
  margin: 10px 0px;
}

.cropPage {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.5);
}

.box {
  background-color: white;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  width: 512px;
  height: 440px;
}

.cropHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #BFBFBF;
  height: 52px;
  line-height: 52px;
  padding: 0px 20px;
}

.cropHeader h3 {
  font-size: 16px;
  color: #303030;
}

.close {
  cursor: pointer;
  display: flex;
  height: 100%;
  align-items: center;
}

.cropBody {
  height: 324px;
  border-bottom: 1px solid #BFBFBF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cropImg {
height: 256px;
width: 256px;
border-radius: 128px;
border: 1px solid #BFBFBF;
overflow: hidden;
}

.range {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.range input {
margin: 0px 10px;
}

.btns {
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px;
  align-items: center;
  height: 64px;
}

.btns button {
  margin-left: 10px;
  font-size: 14px;
  height: 32px;
  padding: 0px 10px;
  border-radius: 4px;
  cursor: pointer;
}


.btns :nth-child(2) {
background-color: #108548;
outline: none;
border: none;
color: white;
}

.btns :nth-child(1) {
  background-color: white;
  outline: none;
  border: 1px solid #BFBFBF;
  color: #303030;

  }
  
@media only screen and (max-width: 600px) {

.box {
  width: 80%;
}

  .left {
    width: 100%;
    padding: 30px 20px;
  }

  .login h4 {
    width: auto;
  }
  .inputs {
    width: 100%;
  }

  .input  {
width: 100%;
  }

  .avatar {
    padding: 10px 0px;
  }

  .img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
  }

  .inputImg {
    margin-left: 5px;
  }
}
